html {
	height: 100%;
}

body {
	margin: 0px;
	padding: 0px;
	height: 100%;
	background-color: #292934;
	color: white;
	font-family: "Arial", sans-serif;
}

/* Здесь задан фон для хедера, футера, вариантов ответа и кнопок*/
header.page-header,
footer.page-footer,
.test-bottom input[type="button"],
.btn input[type="button"] {
	background:
		radial-gradient(#75cbc5 15%, transparent 16%) 0 0,
		radial-gradient(#75cbc5 15%, transparent 16%) 8px 8px,
		radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
		radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
	background-color:#3abeb1;
	background-size:16px 16px;	
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

header.page-header {
	color: white;
	padding: 20px;
}

.btn input[type="button"]{
	display: block;
	border: 2px solid #ffffff;
	color: #ffffff;
	border-radius: 10px;
	font-size: 30px;
	margin: 0 auto;
	font-family: "Arial", sans-serif;
	padding: 3px 5px;
}

input[type="button"]:hover {
	background-color: #75cbc5;
}

input[type="button"]:active {
	background-color: #292934;
}

main {
	min-height: 67%;
}

.test-menu {
	width: 500px;
	height: 400px;
	margin: 0 auto;
	margin-top: 100px;
}

.test-top {
	font-size: 72px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	height: 150px;
	line-height: 150px;
}

.test-bottom {
	height: 200px;
	font-size: 0px;
}

.test-bottom input[type="button"] {
	display: inline-block;
	border: none;
	color: #ffffff;
	font-size: 30px;
	font-family: "Arial", sans-serif;
	padding: 3px 5px;
	width: 50%;
	height: 100px;
}

.test-bottom input[type="button"]:active.right {
	border: 2px dashed #ffffff;
	background-color: #00c2f6;
}

.test-bottom input[type="button"]:active.wrong {
	border: 2px dashed #ffffff;
	background-color: #f44d69;
}

footer.page-footer {
	height: 40px;
	color: white;
	padding: 20px;
	margin: 0 auto;
}
