* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    position: relative;
}

html,
body {
    min-height: 100vh;
}

.page-header,
.page-footer {
    background-color: #b71c1c;
}

.page-footer {
    height: 50px;
}

.page-header {
    display: flex;
    justify-content: space-between;
}

.page-header__logo {
    width: 52px;
    height: 40px;
    font-size: 0;
    margin: 5px;
    flex-shrink: 0;
}

.page-header__logo img {
    width: 100%;
}

.main-menu {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;
}

.main-menu__item {
    color: #ffffff;
    font-size: 14px;
    text-decoration: none;
    font-family: 'Comfortaa', "Arial Rounded MT Bold", Arial, sans-serif;
    display: flex;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
    transition: 0.5s;
    background-color: #b71c1c;
    border: none;
}

.main-menu__item:hover {
    background-color: #d32f2f;
    cursor: pointer;
}

main {
    background-color: #505050;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 120px);
}

.cards-list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.player-card {
    display: flex;
    flex-direction: column;
    width: 240px;
    height: 360px;
    margin: 10px;
    padding: 5px;
    border: 1px solid #b71c1c;
    border-radius: 5px;
    background: #ffcdd2 url(../img/escheresque-dark.png);

    color: #ffffff;
    font-size: 14px;
    text-decoration: none;
    font-family: 'Comfortaa', "Arial Rounded MT Bold", Arial, sans-serif;
    font-weight: bold;

    box-shadow: #2f2f2f 0px 0px 0px;
    transition: 0.5s;
}
.player-card:hover {
    box-shadow: #2f2f2f 4px 4px 10px;
}

.player-card__header {
    display: flex;
    justify-content: space-between;
    background-color: #b71c1c;
    padding: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: 5px;
}
.player-card__photo {
    display: flex;
    justify-content: center;
    background: #fff url('../img/escheresque-dark.png');
    background-position: -5px -5px;
    border: 1px solid #b71c1c;
    margin-bottom: 5px;
    overflow: hidden;
    position: relative;
    /*background-image: linear-gradient(to right, #b71c1c, #fff, #b71c1c);*/
}

.wasted {
    filter: grayscale(90%);
}
.wasted .player-card__photo::after {
    content: 'Проиграл';
    display: block;
    color: #fff;
    font-size: 25px;
    padding: 10px;
    border-radius: 10px;
    border: 3px dashed #fff;
    text-transform: uppercase;
    font-family: 'Comfortaa', "Arial Rounded MT Bold", Arial, sans-serif;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(183, 28, 28, 0.5);
}

.player-card__photo img {
    filter: drop-shadow(0 0 30px #fff);
}
.player-card__current-points {
    position: relative;
    padding-left: 17px;
}
.player-card__current-points::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    width: 13px;
    height: 13px;
    background-image: url('../img/heart.png');
    animation: heartbeat 1s infinite linear;
}

.player-card__points-list {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #b71c1c;
    background-color: #fff;
    border: 1px solid #b71c1c;
    margin-bottom: 5px;
    height: 110px;
    padding: 5px;
    overflow: hidden;
}

.player-card__footer {
    display: flex;
}
.player-card__footer-form {
    display: flex;
    overflow: hidden;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 100%;
}
.player-card__footer input {
    flex-grow: 1;
    padding: 5px;
    border: 1px solid #b71c1c;
    color: #b71c1c;
    font-size: 14px;
    text-decoration: none;
    font-family: 'Comfortaa', "Arial Rounded MT Bold", Arial, sans-serif;
    font-weight: bold;
    width: 85%;
}
.player-card__footer button {
    padding: 5px;
    background-color: #b71c1c;
    border: none;
    color: #ffffff;
    font-size: 14px;
    text-decoration: none;
    font-family: 'Comfortaa', "Arial Rounded MT Bold", Arial, sans-serif;
    font-weight: bold;
    transition: 0.5s;
    width: 15%;
}
.player-card__footer button:hover {
    background-color: #d32f2f;
    cursor: pointer;
}

@keyframes heartbeat {
    0% {
        transform: scale(1.0);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1.0)
    }
}

@keyframes colorFlow {
    0% {
        filter: drop-shadow(0 0 30px #fff) hue-rotate(0deg);
    }
    25% {
        filter: drop-shadow(0 0 30px #fff) hue-rotate(20deg);
    }
    50% {
        filter: drop-shadow(0 0 30px #fff) hue-rotate(-20deg);
    }
    100% {
        filter: drop-shadow(0 0 30px #fff) hue-rotate(0deg);
    }
}

.add-player-btn {
    width: 240px;
    padding: 15px;
    background-color: #b71c1c;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    font-family: 'Comfortaa', "Arial Rounded MT Bold", Arial, sans-serif;
    font-weight: bold;
    border-radius: 5px;
    margin: 10px;
    height: 44px;
    opacity: 0.5;
    transition: 0.5s;
    cursor: pointer;
    order: 1;
    box-shadow: #2f2f2f 0px 0px 0px;
    border: none;
}
.add-player-btn:hover {
    opacity: 1;
    box-shadow: #2f2f2f 4px 4px 10px;
}

.page-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70px;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    font-family: 'Comfortaa', "Arial Rounded MT Bold", Arial, sans-serif;
}
.page-footer span {
    display: block;
    text-align: center;
    margin: 9px;
}
.page-footer a {
    color: #fff;
    text-decoration: none;
}
.page-footer a:hover,
.page-footer button:hover {
    color: #bdbdbd;
    cursor: pointer;
}
.page-footer button {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    font-family: 'Comfortaa', "Arial Rounded MT Bold", Arial, sans-serif;
    border: none;
    background-color: transparent;
}

/*MODAL WINDOWS STYLES*/
.modal-window {
    max-width: 350px;
    max-height: 350px;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #b71c1c;
    border: 1px solid #fff;
    border-radius: 5px;
    z-index: 10;
    width: 85%;
}
.modal-window.modal-window_display {
    display: block;
    animation: zoom-in 0.2s;
}
.modal-window h2 {
    margin: 0 0 5px 0;
    padding-bottom: 5px;
    border-bottom: 1px solid #fff;
    color: #fff;
    font-family: 'Comfortaa', "Arial Rounded MT Bold", Arial, sans-serif;
    font-size: 16px;
}
.modal-window__content {
    position: relative;
    padding: 10px;
    color: #fff;
    font-family: 'Comfortaa', "Arial Rounded MT Bold", Arial, sans-serif;
    font-size: 13px;
}
.modal-window__close-btn {
    position: absolute;
    top: -10px;
    right: -12px;
    width: 30px;
    height: 30px;
    background-color: #b71c1c;
    border: 2px solid #fff;
    border-radius: 50%;
    cursor: pointer;
    padding: 0px;
}
.modal-window__close-btn_inner {
    position: relative;
}
.modal-window__close-btn_inner::after,
.modal-window__close-btn_inner::before {
    content: '';
    display: block;
    width: 15px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}
.modal-window__close-btn_inner::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.modal-window__close-btn:hover,
.modal-window__form button:hover {
    background-color: #d32f2f;
}
.modal-background {
    display: none;
    background-color: rgba(80, 80, 80, 0.8);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 5;
}

@keyframes soft-appearance {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@keyframes zoom-in {
    0% {
        transform: translate(-50%, -50%) scale(0.5);
        opacity: 0;
    }
    50% {
        transform: translate(-50%, -50%) scale(0.7);
        opacity: 0.5;
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
}

.modal-background.modal-background_display {
    display: block;
    animation: soft-appearance 0.1s;
}

.modal-window__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.modal-window__form label {
    margin: 10px;
    font-size: 14px;
}
.modal-window__form button {
    margin-top: 15px;
    margin-bottom: 5px;
    background-color: #b71c1c;
    cursor: pointer;
}
.modal-window__form input {
    background-color: #d32f2f;
}
.modal-window__form input,
.modal-window__form button {
    height: 30px;
    width: 140px;
    border: 1px solid #fff;
    color: #fff;
    font-family: 'Comfortaa', "Arial Rounded MT Bold", Arial, sans-serif;
    font-size: 14px;
    text-align: center;
}
.modal-window__form p,
.modal-window__form a {
    margin: 10px;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #fff;
    text-decoration: none;
}
.modal-window__form a:hover {
    color: #bdbdbd;
}
.modal-window__form ul {
    padding: 0px;
}
/*END MODAL WINDOWS STYLES*/